#content{
    width: 100%;
    height: 100vh;
  }
  
  .navbar{
    background-color: sandybrown;
  }
  
  .container-fluid{
    font-size: 16px;
  }
  
  .nav-link{
    color:black;
  }
  
  ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color:whitesmoke;
  }
  
  ul.menu li {
    display: flex;
    justify-content: center;
  }
  
  ul.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.menu li a:hover:not(.active) {
    background-color: darkgrey;
  }
  
  .active {
    background-color: rgb(224, 139, 64);
  }

  #content{
      margin: 1rem;
  }
  